{
	"token"		: "",
	"output_to_log" : true,
	"soundsdir"	: "",
	"mysql_host"	: "",
	"mysql_user"	: "",
	"mysql_pw"	: "",
	"mysql_db"	: "",
	"hosted_url"	: "https://db-files.crmea.de",
	"web_dir"	: "",
	"nso_userid"    : ""
}
