{
	"token"			: "",
	"output_to_log" : true,
	"soundsdir"		: "",
	"mysql_host"	: "",
	"mysql_user"	: "",
	"mysql_pw"		: "",
	"mysql_db"		: "",
	"home_server"	: "",
	"hosted_url"	: "https://db-files.crmea.de",
	"web_dir"		: "",
	"nso_userid"    : "",
	"fonts_dir"     : ""

}
